<%- model_class = Show -%>
<div class="page-header">
  <h1><%=t '.title', :default => @show.name %></h1>
</div>

<div class="thumbnails">
  
  <div class="span4">
    <a href=<%= @show.image_url %> class="thumbnail" >
      <img style="width: auto; height: 200px;" src=<%= @show.image_url %> >
    </a>
  </div>

  <div id="tvr_genres">
  </div>

  <div class="span3" id="imdb_score">
  </div>

</div>

<div id="tvr_info">
</div>

<div id="tvr_episodes">
</div>



